<%- include('partials/header', { title, user:user }) %>

<section class="card">
  <h2><%= title %></h2>
  <p><%= message %></p>
  <p><a href="/">Ir al inicio</a></p>
</section>

<%- include('partials/footer') %>
