<h1>App Inventarios y Ventas</h1>

<head>
  <title>Registrar cuenta</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<nav>
<a href="/">Inicio</a>
</nav>

<section class="Registro">
  <h2>CREAR CUENTA</h2>
  <form method="post" action="/register">
    <label>Nombre
      <input type="text" name="nombre" required>
    </label>
    <label>Email
      <input type="email" name="correo" required>
    </label>
    <label>Contraseña
      <input type="password" name="password" required minlength="6">
    </label>
    <button type="submit">Registrar</button>
  </form>
</section>


